@use"../ABSTRACTS/function" as func;
@use"../ABSTRACTS/mixins" as mixins;

.hero {

    align-items: center;


    @include mixins.responsive(xs) {
        width: 100%;
        text-align: center;

    }

    @include mixins.responsive(sm) {
        text-align: center;
    }

    @include mixins.responsive(md) {
        text-align: center;

    }

    @include mixins.responsive(lg) {}

    @include mixins.responsive(xl) {}

}

.carousel-caption {
    h1 {
        color: func.theme-colors();
        overflow: hidden;
    }

    h3 {
        color: black;
        text-decoration: underline;
        overflow: hidden;

    }

    p {
        color: black;
    }
}