//utilities

@use"../SASS/UTILITIES/spacing";
@use"../SASS/UTILITIES/animation";

//BASE

@use"../SASS/BASE/global";

@use"../SASS/BASE/reset";

//ABSTRACTS

@use"../SASS/ABSTRACTS/variable";

@use"../SASS/ABSTRACTS/mixins";

@use"../SASS/ABSTRACTS/function";

//components

@use"../SASS/COMPONENTS/button";

//LAYOUT

@use"../SASS/LAYOUTS/navbar";

@use"../SASS/LAYOUTS/footer";

@use"../SASS/LAYOUTS/forms";

@use"../SASS/LAYOUTS/bg-animation";




//PAGES

@use"../SASS/PAGES/hero";

@use"../SASS/PAGES/about";

@use"../SASS/PAGES/service";

@use"../SASS/PAGES/contact";