@use"../ABSTRACTS/function" as func;
// // X-Small devices (portrait phones, less than 576px)
// // No media query for `xs` since this is the default in Bootstrap
// @media (max-width: 576px) {
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }

@mixin responsive ($breakpoint) {

    @if $breakpoint ==xs {
        @media only screen and (max-width:576px) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media only screen and (min-width: 576px) and (max-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media only screen and (min-width: 768px) and (max-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media only screen and (min-width: 992px) and (max-width: 1200px) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media only screen and (min-width: 1200px) and (max-width: 1400px) {
            @content;
        }
    }

    @else if $breakpoint ==xxl {
        @media only screen and (min-width: 1400px) {
            @content;
        }
    }
}

//menu changing mixins

@mixin menuTogglerScreen {

    position: fixed;
    z-index: 1;
    background-color: func.theme-colors();
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 80px;
    opacity: 0.98;


    &.slide {
        display: block;
        text-align: center;
        padding-top: 2rem;
        transition: 0.5ms;

        & li {
            padding: 2rem;
            text-align: center;

            a {
                color: white;
                text-transform: uppercase;
                text-align: center;

                .active {
                    color: black;
                }
            }

            .btn-primary {
                background-color: rgb(162, 6, 162);
                padding: 1rem 2rem;
                border-radius: 8px;
            }
        }
    }

}