@keyframes color-change {
    0% {
        color: blue;
    }

    50% {
        color: red;
    }

    100% {
        color: orange;
    }
}

@keyframes box-rotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}