$directions: top, left, right, bottom;
$spacing: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $space in $spacing {

    //utilities for margin


    .m-#{$space} {
        margin: #{$space}rem;
    }

    //utilities for padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    //utilities for the directions

    @each $direction in $directions {

        //utilities for margin in all directions

        .m#{str-slice($direction, 0,1) }-#{$space} {
            margin-#{$direction}:#{$space}rem !important;
        }

        //utilities for the padding in all directions

        .p#{str-slice($direction, 0,1)}-#{$space} {
            padding-#{$direction}:#{$space}rem !important;
        }


    }


    //utilities for space in axis

    $x-directions: "left", "right";
    $y-directions: "top", "bottom";

    //utilities for spacing x-axis
    @each $x-axis in "x" {
        @each $x-direction in $x-directions {
            .m#{$x-axis}-#{$space} {
                margin-#{$x-direction}:#{$space}rem !important;
            }
        }

    }

    //utilities for spacing y-axis
    @each $y-axis in "y" {
        @each $y-direction in $y-directions {
            .m#{$y-axis}-#{$space} {
                margin-#{$y-direction}:#{$space}rem !important;
            }
        }

    }

}