@use"../ABSTRACTS/function" as func;
@use"../ABSTRACTS/mixins" as mixins;

.hero {

    align-items: center;

    @include mixins.responsive(xs) {
        width: 100%;
        text-align: center;
        margin-top: 5rem;
    }

    @include mixins.responsive(sm) {
        text-align: center;
    }

    @include mixins.responsive(md) {
        text-align: center;

    }

    @include mixins.responsive(lg) {}

    @include mixins.responsive(xl) {}

}

.carousel {
    @include mixins.responsive(xl) {
        margin-top: 5rem;

    }
}

.carousel-caption {
    h1 {
        color: #fff;
        overflow: hidden;
    }

    h3 {
        color: func.theme-colors();
        text-decoration: underline;
        overflow: hidden;

    }

    p {
        color: #fff;
    }

    .carousel-control-prev {
        background-color: black;
        color: black;

        &:hover {
            background-color: inherit;
        }
    }

    button.carousel-control-next {
        background-color: black;

        &:hover {
            background-color: inherit;
        }
    }
}

.carousel-item {
    @include mixins.responsive(xl) {
        height: 100vh;
    }

    & img {
        background: linear-gradient(to right, black, black);

        @include mixins.responsive(xl) {
            height: 2060px;

        }
    }
}