@use"../ABSTRACTS/mixins" as mixins;

.hero {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 10rem;

    @include mixins.responsive(xs) {
        flex-direction: column-reverse;
        padding: 6rem 0rem;
        width: 100%;
        text-align: center;

    }

    @include mixins.responsive(sm) {
        text-align: center;
        padding: 10rem 5rem 2rem 5rem;
        flex-direction: column-reverse;
    }

    @include mixins.responsive(md) {
        text-align: center;
        padding: 8rem 6rem 2rem 6rem;
        flex-direction: column-reverse;

    }

    @include mixins.responsive(lg) {
        padding: 6rem 8rem;
    }

    @include mixins.responsive(xl) {
        padding: 8rem 8rem 4rem 8rem;
    }


    &-caption {
        align-items: center;





        &--header {

            text-align: left;
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.824);

            @include mixins.responsive(xs) {
                font-weight: 400;
                text-align: center;
                font-size: 2.8rem;
                padding: 0rem 3rem;
            }

            @include mixins.responsive(sm) {
                font-weight: 500;
                text-align: center;
                font-size: 2.8rem;
            }

            @include mixins.responsive(md) {
                text-align: center;
            }

            @include mixins.responsive(lg) {
                font-weight: 600;
                font-size: 2.5rem;
            }
        }

        &--content {
            flex-grow: 1;
            text-align: left;
            line-height: 1.7;
            color: grey;

            @include mixins.responsive(xs) {
                font-size: 1.2rem;
                padding: 0rem 3rem;
            }

            @include mixins.responsive(sm) {
                font-size: 1.3rem;
                text-align: center;
                justify-content: center;

            }

            @include mixins.responsive(md) {
                text-align: center;
            }

            @include mixins.responsive(lg) {
                font-size: 1.1rem;
            }

        }
    }

    &-btn {
        text-align: left;
        display: flex;
        align-items: center;

        @include mixins.responsive(xs) {
            flex-direction: column;
            align-items: center;
        }

        @include mixins.responsive(sm) {
            text-align: center;
            padding: 2rem 5rem;
        }

        @include mixins.responsive(md) {
            padding: 0rem 15%;
        }

        .btn-primary {
            width: 10rem;
            height: 2rem;
            font-size: 15px;
            text-transform: uppercase;
            margin-right: 2rem;

            @include mixins.responsive(xs) {
                margin-bottom: 2rem;
                margin-right: 0;
            }
        }

        .btn-outline-primary {
            width: 8rem;

            font-size: 15px;
            text-transform: uppercase;
        }
    }

    &-img {
        width: 150%;
        height: auto;


        @include mixins.responsive(xs) {
            width: 20rem;
            height: auto;
        }

        @include mixins.responsive(sm) {
            width: 30rem;
        }

        @include mixins.responsive(md) {
            width: 50%;
            height: auto;
            margin-top: 2rem;
        }

        @include mixins.responsive(lg) {
            width: 250%;
        }

        @include mixins.responsive(xl) {
            width: 230%;
        }
    }
}