@use"../ABSTRACTS/mixins" as mixins;

.hero {

    display: flex;

    @include mixins.responsive(xs) {
        flex-direction: column-reverse;
        padding: 6rem 0rem;
        width: 100%;
        text-align: center;

    }

    @include mixins.responsive(sm) {
        text-align: center;
        padding: 10rem 5rem 2rem 5rem;
        flex-direction: column-reverse;
    }

    @include mixins.responsive(md) {
        text-align: center;
        padding: 8rem 6rem 2rem 6rem;
        flex-direction: column-reverse;

    }

    @include mixins.responsive(lg) {
        padding: 6rem 8rem;
    }

    @include mixins.responsive(xl) {
        padding: 8rem 8rem 4rem 8rem;
    }


    &-carosels {
        height: 100vh;

        & input {
            display: none;
        }

        & .carosel img {

            width: 100%;

            z-index: -1;
            display: flex;
            transition: 2s;
        }
    }

    &.navigation-btn {
        display: flex;
        position: absolute;
        justify-content: center;

        & .manual-btn {
            padding: 5px;
            border-radius: 10px;
            border: 2px solid blue;
            cursor: pointer;
            transition: 1s;
            background-color: blue;
        }

        &.manual-btn:not(:last-child) {
            margin-right: 10px;
        }
    }

    .carousel-inner {
        background: linear-gradient(to right, black, black) !important;
    }

    .carousel-caption {
        background-color: grey, opacify($color: #000000, $amount: 0.5);


        & h3 {
            text-decoration: underline;
        }

        & p {
            color: white;
        }
    }
}