@use"../ABSTRACTS/function" as func;
@use"../ABSTRACTS/mixins" as mixins;

.Photo-editing {
    margin-top: 7rem;

    &-header {
        margin-left: 5rem;

        @include mixins.responsive(xs) {
            margin-left: 1rem;
        }

        & .service-line {
            width: 140px;
            height: 4px;
            background: func.theme-colors();
            margin-bottom: 0.5rem;

            @include mixins.responsive(xs) {
                width: 115px;
            }
        }

        & h2 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            letter-spacing: 1px;
        }

        & p {
            font-size: 38px;
            letter-spacing: 1px;

            @include mixins.responsive(xs) {
                font-size: 25px;
            }

            @include mixins.responsive(lg) {
                font-size: 30px;
            }
        }
    }

}

.Twilight {
    &-header {
        margin-left: 5rem;

        @include mixins.responsive(xs) {
            margin-left: 1rem;
        }
    }

    & .service-line {
        width: 180px;
        height: 4px;
        background: func.theme-colors();
        margin-bottom: 3rem;
        margin-left: 5rem;

        @include mixins.responsive(xs) {
            margin-left: 1rem;
            margin-bottom: 1rem;
            width: 200px;
        }
    }

    & P {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 38px;
        letter-spacing: 1px;
        margin-top: 5rem;

        @include mixins.responsive(xs) {
            font-size: 20px;
            margin-top: 3rem;
            margin-left: 10px;

        }

    }

    & img {
        @include mixins.responsive(xs) {
            display: flex;

            justify-content: space-between;
        }

    }


}

.HDR {
    &-header {
        margin-left: 5rem;

        @include mixins.responsive(xs) {
            margin-left: 1rem;
        }
    }

    @extend .Twilight;

}

.object-rm {
    &-header {
        margin-left: 5rem;

        @include mixins.responsive(xs) {
            margin-left: 1rem;
        }
    }

    @extend .HDR;

    & img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include mixins.responsive(xs) {
            width: 100%;
            height: 350px;

        }
    }
}

.flash {
    &-header {
        margin-left: 5rem;


        @include mixins.responsive(xs) {
            margin-left: 1rem;
        }
    }

    & .service-line {
        width: 180px;


        @include mixins.responsive(xs) {
            width: 140px;
        }
    }

    & img {
        @include mixins.responsive(xs) {
            height: 200px;
        }

    }

    @extend .object-rm;
}