@use"../ABSTRACTS/function" as func;

@use"../ABSTRACTS/mixins" as mixins;


.about-area {

    padding: 2rem 2rem;

    @include mixins.responsive(xs) {
        flex-direction: column;
        margin-top: 0rem;
    }

    @include mixins.responsive(sm) {
        flex-direction: column;
        margin-top: 0rem;
    }

    @include mixins.responsive(md) {
        flex-direction: column;
        margin-top: 0rem;
    }

    @include mixins.responsive(lg) {}

    @include mixins.responsive(xl) {}

    .card {
        background: linear-gradient(to right, #fd7ca4, #9a73f4);
        color: white;
        margin: 1rem;
    }
}