@use"../ABSTRACTS/function" as func;

@use"../ABSTRACTS/mixins" as mixins;

.register {
    background-color: rgb(181, 181, 181);
    padding: 5rem 10rem;
    margin-bottom: 2rem;

    @include mixins.responsive(xs) {
        width: 100%;
        padding: 3rem 0rem;
        margin-right: 3rem;
    }

    @include mixins.responsive(sm) {
        padding: 4rem 3rem;
    }

    @include mixins.responsive(md) {
        padding: 4rem 5rem;
    }

    @include mixins.responsive(lg) {
        padding: 4rem 6rem;
    }

    @include mixins.responsive(xl) {
        padding: 4rem 6rem;
    }

    &-card {
        background-color: #fff;
        box-shadow: 10px 10px 8px 10px #888888;
        border-radius: 6px;
        padding: 3rem;

        @include mixins.responsive(xs) {
            flex-direction: column-reverse;
            padding: 0px 5px;
        }

        @include mixins.responsive(sm) {
            flex-direction: column-reverse;
            padding: 2rem;
        }

        @include mixins.responsive(md) {
            flex-direction: column-reverse;
        }

        @include mixins.responsive(lg) {
            padding: 3rem 0rem 3rem 3rem;
        }

        @include mixins.responsive(xl) {
            padding: 3rem 0rem 3rem 3rem;
        }

        &-title {
            text-align: center;
            margin-bottom: 2rem;
        }

        & h2 {
            font-size: 2rem;
            overflow: hidden;
            font-weight: 800;
            font-family: Arial, Helvetica, sans-serif;

            & span {
                color: func.theme-colors(dark);
            }

            & div {
                overflow: hidden;
            }

            @include mixins.responsive(xs) {
                text-align: center;
                padding: 0rem 2rem;

            }

            @include mixins.responsive(sm) {
                text-align: center;
            }

            @include mixins.responsive(md) {
                text-align: center;
                margin-top: 2rem;
            }

            @include mixins.responsive(lg) {
                margin-bottom: 10px;
            }

            @include mixins.responsive(xl) {
                margin-bottom: 10px;
            }

        }



        &--form {
            display: block;


            @include mixins.responsive(xs) {
                padding: 1rem 1rem;

                margin-right: 0rem;
            }

            @include mixins.responsive(sm) {
                padding-left: 2rem;
            }

            @include mixins.responsive(md) {
                margin-right: -5rem;
            }

            @include mixins.responsive(lg) {
                margin-right: -5rem;
            }

            @include mixins.responsive(xl) {
                margin-right: -5rem;
            }

            @include mixins.responsive(xxl) {
                margin-right: -5rem;
            }

            &-label {
                display: block;
                font-size: 1rem;
            }

            & button {
                width: 100%;
                margin-top: 20px;


                @include mixins.responsive(xs) {
                    width: 100%;
                }

                @include mixins.responsive(sm) {
                    width: 100%;
                }

                @include mixins.responsive(md) {
                    width: 100%;
                }

                @include mixins.responsive(lg) {
                    width: 80%;
                }

                @include mixins.responsive(xl) {
                    width: 80%;
                }

                @include mixins.responsive(xxl) {
                    width: 80%;
                }
            }
        }

        &--img {

            @include mixins.responsive(xs) {
                width: 95%;
                padding-bottom: 1rem;
            }

            @include mixins.responsive(sm) {
                width: 100%;
                padding-bottom: 1rem;
            }

            @include mixins.responsive(md) {
                width: 100%;
                padding-bottom: 1rem;
            }

            @include mixins.responsive(lg) {
                width: 80%;
                margin-top: 5rem;
            }

            @include mixins.responsive(xl) {
                width: 80%;
                margin-top: 5rem;
            }
        }

    }
}

.form-control-custom {
    padding: .5rem 3rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid #888888;
    outline: none;
    width: 80%;


    @include mixins.responsive(xs) {
        padding: 1rem 15%;

    }

    @include mixins.responsive(sm) {
        padding: 1rem 4rem;
        margin-bottom: 1rem;
    }

    @include mixins.responsive(md) {
        padding: 1rem 6rem;
        margin-bottom: 1rem;
    }

    @include mixins.responsive(lg) {
        padding: 1rem 15%;
        margin-bottom: 1rem;
    }

    @include mixins.responsive(xl) {
        padding: 1rem 15%;

    }

    &:hover {
        border: 1px solid func.theme-colors();
        box-shadow: 5px 5px 4px 5px #888888;
    }

}