@use"../BASE/global";
@use"../COMPONENTS/button";

@use"../ABSTRACTS/mixins" as mixins;

@use"../ABSTRACTS/function" as func;

.header {
    position: fixed;
    width: 100%;
    z-index: 5;

    background-color: white;
    justify-content: space-around;
    display: flex;
    line-height: 1;
    align-items: center;
    border-bottom: 2px solid #e9e9e9;

    @include mixins.responsive(xs) {
        padding: 1rem 0px;
        justify-content: space-around;

    }

    @include mixins.responsive(sm) {
        padding: 1rem 0rem;
        justify-content: space-around;
    }

    @include mixins.responsive(lg) {
        justify-content: space-evenly;
        padding: 1rem 0rem;
    }



    @include mixins.responsive(xxl) {
        justify-content: space-evenly;

    }




    //brand name
    &-brand {
        display: flex;
        align-items: center;


        @include mixins.responsive(xs) {

            text-align: start;
        }

        @include mixins.responsive(sm) {
            padding-right: 6rem;
        }

        @include mixins.responsive(lg) {
            padding-right: 3rem;
        }

        &--name {
            margin-left: 1rem;
            font-size: 18px;
            font-weight: 800;
            line-height: 1;
            overflow-y: hidden;

            @include mixins.responsive(xs) {
                font-size: 1.5rem;
                font-weight: 600;
                margin-left: 0.5rem;
            }

            .color-animation {
                margin-left: 0.1rem;
                animation: color-change 5s infinite;
                transition: 500ms;

                @include mixins.responsive(xs) {
                    display: none;
                }

                @include mixins.responsive(sm) {}
            }
        }


        &--logo {
            width: 110px;
            height: 80px;

            @include mixins.responsive(xs) {
                width: 80px;
                height: 55px;
            }

            @include mixins.responsive(sm) {
                width: 90px;
                height: 60px;
            }

            @include mixins.responsive(lg) {
                width: 80px;
                height: 55px;
            }
        }


    }

    //nav-menus
    &-menu {
        display: flex;
        font-size: 16px;
        font-weight: 600;
        align-items: center;



        @include mixins.responsive(xs) {
            display: none;
            @include mixins.menuTogglerScreen;
        }


        @include mixins.responsive(sm) {
            display: none;
            @include mixins.menuTogglerScreen;
        }

        @include mixins.responsive(md) {
            display: none;
            @include mixins.menuTogglerScreen;
        }

        @include mixins.responsive(lg) {
            padding-left: 0rem;

        }

        & li a .btn-primary {
            padding: 2rem;
        }


        &--item {
            margin-right: 17px;
            overflow-y: hidden;

            @include mixins.responsive(lg) {
                margin-right: 7px;
            }

        }

        &--link {
            color: black;
            padding: 0px 7px;

            @include mixins.responsive(lg) {
                padding: 0px 5px;
            }

            &.active {
                color: func.theme-colors();
            }
        }
    }




    &--bars {
        display: none;

        @include mixins.responsive(xs) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;

        }

        @include mixins.responsive(sm) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;
        }

        @include mixins.responsive(md) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;
        }
    }

    &--tites {
        display: none;
        text-align: end;

        @include mixins.responsive(xs) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;

        }

        @include mixins.responsive(sm) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;
        }

        @include mixins.responsive(md) {
            display: flex;
            font-size: 2rem;
            font-weight: 100;
        }
    }

    &.navbar-fixed {
        position: fixed;
        top: -1px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 1px 2px 0 #e6e6e6;
        z-index: 999;
    }

}