@use"../ABSTRACTS/function" as func;

@use"../ABSTRACTS/mixins" as mixins;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');


body {
    font-family: 'Nunito Sans', sans-serif;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.d-flex {
    display: flex;
}

.fs-2 {
    font-size: 1.5rem;
}

.primary-badge {
    background-color: func.theme-colors();
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 6px;

}

.disable {
    color: grey;
}


.no-resize {
    resize: none;
}

.hidden {
    display: none;
}

.fa-envelope {
    font-size: 23px;
    color: red;
    margin-right: 1px;
    margin-top: 1px;
}

.line {
    width: 20rem;
    height: 5px;
    border-radius: 10px;
    margin: 35px auto;
    background: linear-gradient(to right, #fd7ca4, blue);
}