* {
    padding: 0;
    margin: 0;
    border: none;
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}